<p>{{titulo}}</p>

<ng-container *ngIf="administrador; then admin else noAdmin"></ng-container>
<ng-template #admin>
  <button (click)="cambiar(false)">Cambiar</button>
  <strong style="background-color: yellowgreen;">Eres admin</strong>
</ng-template>

<ng-template #noAdmin>
  <button (click)="cambiar(true)">Cambiar</button>
  <strong style="background-color: red;">No eres admin</strong>
</ng-template>

<hr>
<h4>Propiedades input en angular</h4>

<componente-hijo [propiedad_uno]="datoExterno" [propiedad_dos]="identity" (desde_el_hijo)="recibirDatos($event)"></componente-hijo>

<div *ngIf="datos_del_hijo"> Datos del hijo :
  <h3>{{datos_del_hijo.nombre}}</h3>
</div>
