Contacto
<p>{{title}}</p>
<div *ngIf="parametro">
  parametro: {{parametro}}
</div>

<div *ngIf="!parametro">
  <button (click)="redirigir()">Ir a la pagina con parametro</button>
  <button (click)="redirigirDos()">Ir a la home</button>
</div>
