HOME
<p>{{title}}</p>

<br>
<p>{{ fecha | date:'fullDate' | uppercase | lowercase }}</p>
<p>{{ fecha | date:'dd/MM/yyyy' }}</p>
<p>{{ 5 | conversor: 7 }}</p>
<br><br>
<input type="text" name="" id="" [(ngModel)]="prendaGuardar">
<button (click)="guardarPrenda()">Añadir prenda</button>
<p *ngIf="prendaGuardar">La prenda a guardar es: <strong>{{prendaGuardar}}</strong></p>
<h3>listado de prendas de ropa</h3>
<ul>
  <li *ngFor="let prenda of listadoRopa; let i = index">
    {{prenda}} <button (click)="eliminarPrenda(i)"> Eliminar </button>
  </li>
</ul>
