<p>empleado works!</p>
<p>{{titulo}}</p>

<div *ngIf="trabajadorExterno == true">
  <button (click)="cambiarExterno(false)">Mostrar empleado</button>
  <ul >
    <li>{{empleado | json}}</li>
  </ul>
</div>

<div *ngIf="trabajadorExterno == false">
  <button class="boton" (click)="cambiarExterno(true)">Mostrar trabajador</button>
  <ul>
    <li>{{trabajadores[0] | json}}</li>
  </ul>
</div>

<hr>

<h3>Listado de empleados</h3>
<ul>
  <li *ngFor="let empleado of trabajadores; let i = index">
    Empleado {{i+1}}
    <ul>
      <li>{{empleado | json}}</li>
    </ul>
  </li>
</ul>

<hr>

<h3>Colores switch</h3>
<ul [ngSwitch]="color">
  <li *ngSwitchCase="'red'" [ngStyle]="{'background': color, 'color': 'white'}"> Es de color rojo</li>
  <li *ngSwitchCase="'green'" [ngStyle]="{'background': color, 'color': 'white'}"> Es de color verde</li>
  <li *ngSwitchCase="'blue'" [ngStyle]="{'background': color, 'color': 'white'}"> Es de color azul</li>
</ul>

<hr>

<h3>Selector de colores</h3>
<input type="text" name="" id="" [(ngModel)]="colorSeleccionado">
<pre [style.border]="colorSeleccionado == 'red' ? '5px solid black' : '1px solid green'"
    [ngClass]="{
      bordeAzul: colorSeleccionado == 'blue',
      fondoVerde: colorSeleccionado == 'green'
    }"
>
  <strong>Color elegido:</strong>
  {{colorSeleccionado}}
</pre>
<div [ngStyle]="{'background': colorSeleccionado, 'width': '200px', 'height': '200px', 'float': 'right'}"></div>
<div style="clear: both;"></div>

<hr>
