<h1>{{title}}</h1>
<h3>H1 app.componente.html</h3>

<hr>
  <nav>
    <a [routerLink]="['/pagina-principal']" [routerLinkActive]="['activado']">home</a> -
    <a [routerLink]="['/fruta']" [routerLinkActive]="['activado']">Fruta</a> -
    <a [routerLink]="['/empleado']" [routerLinkActive]="['activado']">Empleado</a> -
    <a [routerLink]="['/contacto']" [routerLinkActive]="['activado']">Contacto</a> -
    <a [routerLink]="['/coches']" [routerLinkActive]="['activado']">Coches</a> -
    <a [routerLink]="['/plantillas']" [routerLinkActive]="['activado']">Plantillas</a>
  </nav>
<hr>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <app-fruta></app-fruta> -->

<!-- <empleado-tag></empleado-tag> -->

<router-outlet></router-outlet>
