<h1>Componente coches</h1>
<style>
  form{
    width: 200px;
  }

  input[type="text"]{
    width: 100%;
    display: block;
  }

  div{
    float: left;
  }
  .listado{
    margin-left: 30px;
  }
</style>
<div>
  <form #formCoche="ngForm" (ngSubmit)="onSubmit();formCoche.reset()">
    <p>
      <label for="nombre">Nombre</label>
      <input type="text" name="nombre" id="nombre" #nombre="ngModel" [(ngModel)]="coche.nombre" required>
      <span *ngIf="nombre.touched && !nombre.valid">
        El nombre del cocher es incorrecto
      </span>
    </p>
    <p>
      <label for="caballaje">Caballaje</label>
      <input type="text" name="caballaje" id="caballaje" #caballaje="ngModel" [(ngModel)]="coche.caballaje" required pattern="[0-9]+">
      <span *ngIf="caballaje.touched && !caballaje.valid">
        El caballaje del coche es incorrecto
      </span>
    </p>
    <p>
      <label for="color">Color</label>
      <input type="text" name="color" id="color" #color="ngModel" [(ngModel)]="coche.color" required pattern="[a-zA-Z#]+">
      <span *ngIf="color.touched && !color.valid">
        El color del coche es incorrecto
      </span>
    </p>
    <p>
      <input type="submit" value="Guardar" [disabled]="!formCoche.form.valid">
    </p>
  </form>
</div>
<div class="listado">
  <h4>Listado de coches</h4>
  <ul>
    <li *ngFor="let coche of coches">
      {{coche.nombre}} - {{coche.caballaje}} - {{coche.color}}
    </li>
  </ul>
</div>

<div class="listado">
  <h3>Listado de articulos</h3>
  <ul *ngIf="articulos">
    <li *ngFor="let articulo of articulos">
      {{articulo.id}} - {{articulo.title}}
    </li>
  </ul>
  <span *ngIf="!articulos">Cargando listado</span>
</div>
